/*Container of all application*/
/*Make container grid to use CSS Grid technology*/
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*justify-items: center;*/
  text-align: center;
}
