/*Full footer block*/
/*Make it grid and set grid template*/
footer {
  display: grid;
  grid-area: footer;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "copyright social";
  background-color: rgba(18, 29, 25, 0.63);
  color: rgba(236, 236, 237, 0.92);
}
footer h4 {
  font-size: 70%;
}
/*Block with info about author and rights*/
.copyright {
  grid-area: copyright;
  text-align: left;
  font-size: 1em;
  margin: 1em;
}

/*Block with social networks*/
.social {
  display: grid;
  margin-top: 0.5em;
  grid-area: social;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "social-header social-links";
}
.social a{
  margin-right: 0.5em;
  color: rgba(236, 236, 237, 0.92);
}
.social h3 {
  padding-top: 5px;
  grid-area: social-header;
  text-align: right;
  font-size: 1.5em;
  /*padding-left: 100px;*/
}
.links {
  grid-area: social-links;
}
