/*Full header block*/
header {
  display: grid;
  grid-area: header;
  width: 100%;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas:
    "logo title";
  background-color: rgba(18, 29, 25, 0.63);
}

/*GadgetPad logo in header*/
.logo {
  grid-area: logo;
  /*background-color: rgb(203, 69, 12);*/
}
.logo img {
  width: 20%;
  margin-top: 0.75em;
}

/* GadgetPad title in header */
.title {
  grid-area: title;
  /*margin-top:1em;*/
  font-size: 5em;
  /*background-color: rgb(154, 236, 20);*/
}
.title h1 {
  /*color:rgba(54, 56, 64, 0.97);*/
  color: rgba(236, 236, 237, 0.92);
}
